.john{
    color:blue; text-align: left; font-weight: 400;
}
.joy{
    color: darkblue;
}
.t{
    color:indigo
}
.l{
    color: crimson; 
}
.t{
    text-align: center;
}
.a{
    color: crimson; text-align: center;
}
.o{
    text-align:center;
}
